/* colores base */


/* DE423A */

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}


/*---------------------- estilos base-------------------------- */


/* img {
    display: block;
    width: 100%;
    max-width: 100%;
} ==> prestale atencion a esta propiedades */

img {
    display: block;
    width: 100%;
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.container {
    width: 100%;
    margin: auto;
}


/* display: flex; es para ajusrtar los contenedores 
    flex-wrap: wrap; este es para que todo lo que no entre 
    se ubique en la parte de abajo  */

.container--flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.column {
    width: 100%;
}


/*------------------------- estilos del header ---------------------------- */

.main--header {
    width: 100%;
}

.logo {
    font-size: 1.08m;
    color: #DE423A;
    padding: 10px;
    font-family: "pacifico", cursive;
    font-weight: 100;
}

.main-header__contactInfo__phone {
    background: #DE423A;
    color: white;
    margin: 0;
    padding: 10px;
}

.main-header__contactInfo__address {
    padding: 10px;
    margin: 0;
}

.main-header [class*="icon-"]:before {
    position: relative;
    top: 2px;
    right: 5px;
}


/* ------------------------- estilos del menu ---------------------------- */

.main-nav {
    width: 100%;
    position: relative;
    z-index: 2000;
    padding: 10px;
}

.icon-th-list-1 {
    display: block;
    color: white;
    border: 1px solid white;
    border-radius: 3px;
    width: 40px;
    height: 40px;
    line-height: 45px;
    text-align: center;
    cursor: pointer;
    font-size: 1.5em;
}

.social-icon {
    display: flex;
    justify-content: space-between;
}

.social-icon [class*="icon-"] {
    color: black;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    width: 35px;
    height: 35px;
    background: white;
    border-radius: 50%;
}

.social-icon__link {
    text-decoration: none;
}

.menu {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, .80);
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    height: 0;
    overflow: hidden;
    transition: height .3s linear;
}

.menu__link {
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
}

.menu__link:hover {
    background: #DE423A;
}

.menu__link--select {
    background: #DE423A;
}

.mostrar {
    height: 196px;
}


/* ------------------------- estilos del banner ---------------------------- */

.banner {
    margin-top: -55px;
    position: relative;
}


/* aqui estoy colocando el banner mas oscuro  */

.banner:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    top: 0;
}

.banner__img {
    width: 100%;
    height: 500px;
    /* object-fit: cover; ===> esto es para que al etirar la imagen no se distorcione */
    object-fit: cover;
}


/* este es el contenido del banner  */

.banner__content {
    width: 90%;
    color: rgb(255, 255, 255);
    text-align: center;
    position: absolute;
    /*     z-index: 1500;  ===> esto es para que las letras 
no se ballan para atras en el fondo */
    z-index: 1500;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 1.5em;
    font-weight: bold;
}